.top{
    margin-left: 240px;
    width: 1248px;
    height: 754px;
    flex-shrink: 0;
}
header{
    align-items: center;
    display: flex;
    min-width: 1120px;  
}
nav{
    align-items: center;
    display: flex;
    gap: 40px;
    height: 30px;
    margin-left: 121px;
    min-width: 330px;
}
.logo{
    align-items: flex-end;
    display: flex;
    gap: 9px;
    margin-bottom: 1px;
    min-width: 49px;
}
.rectangle-1{
    background-color: rgba(156, 105, 226,1);
    border-radius: 20px;
    height: 20px;
    width: 20px;
}
.rectangle-2{
    background-color: rgba(240, 99, 184, 1);
    border-radius: 20px;
    height: 35px;
    width: 20px;
}
#demoButton{
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 5px 5px #4A5C671A;
    display: flex;
    gap: 19px;
    height: 60px;
    justify-content: flex-end;
    margin-left: 410px;
    min-width: 210px;
    padding: 0 28px;

    
}
#arrow{
    width: 22px;
    height: 16px;   
}
#textInDemoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%; 
    letter-spacing: 0.08px;
    min-width: 112px;
    height: 26px;
    
}
.headerText{
    display: flex;
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    flex: 1;
    align-self: center;

}
#mainHeaderText{
    display: flex;
    flex-shrink: 0;
    flex: 1;
    align-self: center;

    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height:  25.6px;
    
    width: 53px;
    height: 30px;
    
}
#Headline{
    display: flex;
    flex-direction: column;
    position: relative;
}
#mainHeadline{
    display: flex;
    width: 645px;
    height: 184px;
    flex:1;
}
#mainHeadlineText{
    color:  #212353;
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 88px */
}
.image1{
    
    height: 468px;
    position: absolute;
    object-fit: cover;
    margin-left: 300px;
    margin-top: 100px;

}
#learnMoreButton{
    display: flex;
    flex:1;

    background-color: #9C69E2;
    border-radius: 50px;
    width: 170px;
    height: 60px;
    justify-content: center;
    
}
#textInLearnMoreButton{
    display: flex;
    color: #FFF;
    
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%; /* 28.8px */
}
.HeadlineText{
    width: 380px;
    min-height: 120px;
    flex-shrink: 0;
    
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
    flex:1;
}

.pinkMiddle{
    display: flex;
    
    width: 1117px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    margin-left: 240px;
    margin-top: 99px;
    align-content: center;
}

.image2{
    
    width: 477px;
    height: 504px;
    border-radius: 50px;
}

#mainMiddleText{

    display: flex;
    width: 475px;
    height: 100px;
    justify-content: center;

    
    color: #212353;

    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
}

#middleText{
    display: flex;
    width: 474px;
    height: 170px;

    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.textMiddleClass{
    display: flex;
    width: 475px;
    height: 310px;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    margin-left: 90px;
}