
.top{
    flex-shrink: 0;
    margin-left: 10%;
    margin-top: 3%;

}

header{
    align-items: center;
    display: flex;
     
}
nav{
    align-items: center;
    display: flex;
    gap: 40px;
    flex: 5;

}
.logo{
    align-items: flex-end;
    display: flex;
    gap:9px;
    width: 49px;
    flex:1;
}
.rectangle-1{
    background-color: rgba(156, 105, 226,1);
    border-radius: 20px;
    height: 20px;
    width: 20px;
}
.rectangle-2{
    background-color: rgba(240, 99, 184, 1);
    border-radius: 20px;
    height: 35px;
    width: 20px;
}
.demoButton{
    margin-right: 12%;
    align-self: center;
    display: flex;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
    justify-content: space-between;
    align-content: center;
}
.arrow{
    padding: 10px 15px;
    width: 22px;
    height: 16px;   
}
.textInDemoButton{
    padding: 10px 15px;

    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.08px;
    
    
}

.menuText{
    display: flex;
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    align-self: center;
    
}
.menuText1{
    display: flex;
    flex-shrink: 0;
    align-self: center;
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height:  160%;
    

    
}
.Headline{
    display: flex;
    flex-direction: column;
}
.Title{
    color:  #212353;
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
}
.image1{
    
    height: 468px;
    object-fit: cover;
    align-self: center;

}
.learnMoreButton{
    max-width: 30%;
    padding:20px 25px;
    background-color: #9C69E2;
    border-radius: 50px;
    text-align: center;
    color: #FFF;
    
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}
.Text{
    flex-shrink: 0;
    
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
    flex:1;
}
.Greeting{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


@media screen and (min-width: 2000px){
    .top{
        margin-left: 5%;
    }
    .menuText{
        font-size: larger;
    }
    .Text{
        font-size: x-large;
    }
    .learnMoreButton{
        width: 110px;
    }
    .image1{
        margin-top: 6%;
    }
    
}