.wrapper {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 12px;
    box-shadow: 0 3px 7px #bbbbbb;
    padding: 20px;
    margin: 10px;
    width: 40%;
  }
  
  .filter-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  #filter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%; /* Set the width of the dropdown to 100% within its container */
  }
  
  .sorted-by {
    font-size: 14px;
  }
  
  .area-inputs {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 70%; /* Set the width of the area inputs to 70% */
  }
  
  input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    width: 100%; /* Set the width of the input fields to 100% within their container */
  }
  
  .apply-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  